    <h1>9章【「トップへ戻る」ボタンを作ってみよう】</h1>

    <div class="image-box">
       <%= image_tag 'nature-1.jpg' %>
    </div>
     <div class="image-box">
       <%= image_tag 'nature-2.jpg' %>
    </div>
     <div class="image-box">
       <%= image_tag 'nature-3.jpg' %>
    </div>
     <div class="image-box">
       <%= image_tag 'nature-4.jpg' %>
    </div>
     <div class="image-box">
       <%= image_tag 'nature-5.jpg' %>
    </div>


    <span id="back">
      <a href="#">
        <%= image_tag "arrow.png" %>
      </a>
    </span>
